<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/bootstrap-4.4.1.min.css">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/favorites.css">
		<title>Favorites</title>
	</head>
	<body>

		{{>auth_nav}}

		<div class="container">
			{{#if results}}
				<h2>Your favorite recipes:</h2>
				{{>favorite_recipes}}
			{{else}}
				<p>You have no favorite recipes yet! :(</p>
			{{/if}}
		</div>

		<script src="js/favorites.js"></script>

	</body>
</html>
