<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/bootstrap-4.4.1.min.css">
		<link rel="stylesheet" href="css/home.css">
		<title>Recipe Finder</title>
	</head>
	<body>

		{{#if user}}
			{{>auth_nav}}
		{{else}}
			{{>unauth_nav}}
		{{/if}}

		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<img src="img/logo.png" class="img-fluid">
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					{{>search_form large=true}}
				</div>
			</div>

			{{#unless user}}
				<div class="row">
					<div class="col-12 text-center">
						<p id="invitation-p">
							Want to save your favorite recipes? <a href="/signup">Create an Account</a>!<br>
							Already a member? <a href="/signin">Sign In</a>!
						</p>
					</div>
				</div>
			{{/unless}}
		</div>

	</body>
</html>
