<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="/">
		<link rel="stylesheet" href="css/bootstrap-4.4.1.min.css">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/message.css">
		<title>Message</title>
	</head>
	<body>

		{{#if user}}
			{{>auth_nav}}
		{{else}}
			{{>unauth_nav}}
		{{/if}}

		<div class="container">
			<div class="row">
				<div class="col-12">
					{{message}}
				</div>
			</div>
		</div>

	</body>
</html>
