<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/bootstrap-4.4.1.min.css">
		<link rel="stylesheet" href="css/profile.css">
		<title>Profile</title>
	</head>
	<body>

		{{>auth_nav}}

		<div class="container">
			<h5>{{user.username}}</h5>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Registered at: {{registeredAt}}</li>
				<li class="list-group-item">
					<form action="/profile/changepass" method="POST">
						<input type="password" name="currPass" class="form-control" placeholder="Current Password" required>
						<input type="password" name="newPass" class="form-control" placeholder="New Password" required>
						<button type="submit" class="btn btn-primary">Change Password</button>
					</form>
				</li>
				<li class="list-group-item">
					<button type="button" id="delete-button" class="btn btn-danger">Delete Account</button>
					<div id="delete-alert" class="alert alert-warning d-none">
						Are you sure you want to delete your account? <a href="/profile/delete">Yes</a> <a id="delete-no" href="#">No</a>
					</div>
				</li>
			</ul>
		</div>

		<script src="js/profile.js"></script>

	</body>
</html>
