<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli&display=swap">
		<link rel="stylesheet" href="css/profile.css">
		<title>Profile</title>
	</head>
	<body class="d-flex flex-column">

		{{>auth_nav}}

		<div class="container flex-fill">
			<h5>{{user.username}}</h5>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Registered at: {{registeredAt}}</li>
				<li class="list-group-item">
					<form>
						<input type="password" name="currPass" class="form-control" placeholder="Current Password" required>
						<input type="password" name="newPass" class="form-control" placeholder="New Password" required>
						<button type="submit" class="btn btn-primary">Change Password</button>
					</form>
				</li>
				<li class="list-group-item">
					<button type="button" id="delete-button" class="btn btn-danger">Delete Account</button>
					<div id="delete-alert" class="alert alert-warning d-none">
						Are you sure you want to delete your account? <a href="/profile/delete">Yes</a> <a id="delete-no" href="#">No</a>
					</div>
				</li>
			</ul>
		</div>

		<script src="js/profile.js"></script>

		<!-- Bootstrap's required scripts. -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
