<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/bootstrap-4.4.1.min.css">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/sign.css">
		<title>Log In</title>
	</head>
	<body>

		{{>unauth_nav}}

				{{!-- TODO: Show error message when error property is passed. --}}

		<div class="container">
			<div class="card mx-auto">
				<div class="card-body">
					<h5 class="card-title">Welcome back! Log In to access your content</h5>
					<form action="/signin" method="POST">
						<div class="form-group">
							<label for="input-username">Username:</label>
							<input type="text" id="input-username" name="username" class="form-control" placeholder="Enter your username" required>
						</div>
						<div class="form-group">
							<label for="input-password">Password:</label>
							<input type="password" id="input-password" name="password" class="form-control" placeholder="Enter your password" required>
						</div>
						<button type="submit" class="btn btn-primary">Log In</button>
					</form>
				</div>
			</div>
		</div>

	</body>
</html>
