<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="/">
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/sign.css">
		<title>Log In</title>
	</head>
	<body>

		{{>unauth_nav}}

				{{!-- TODO: Show error message when error property is passed. --}}

		<div class="container">
			<div class="card mx-auto">
				<div class="card-body">
					{{#if error}}
						<div class="alert alert-danger">{{error}}</div>
					{{/if}}
					<h5 class="card-title">Welcome back! Log In to access your content</h5>
					<form action="/signin" method="POST">
						<div class="form-group">
							<label for="input-username">Username:</label>
							<input type="text" id="input-username" name="username" class="form-control" placeholder="Enter your username" required>
						</div>
						<div class="form-group">
							<label for="input-password">Password:</label>
							<input type="password" id="input-password" name="password" class="form-control" placeholder="Enter your password" required>
						</div>
						<button type="submit" class="btn btn-primary">Log In</button>
					</form>
				</div>
			</div>
		</div>

		{{!-- Bootstrap required scripts: --}}
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
