<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli&display=swap">
		<link rel="stylesheet" href="css/signup.css">
		<script src="https://kit.fontawesome.com/c7610f614e.js" crossorigin="anonymous"></script>
		<title>Sign Up</title>
	</head>
	<body class="d-flex flex-column">

		{{>unauth_nav}}

		<div class="container d-flex flex-fill justify-content-center">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Create an Account</h5>
					<form id="signup-form" action="/signup" method="POST">
						<div class="form-group">
							<label for="input-email">Email address:</label>
							<input type="email" id="input-email" name="email" class="form-control" placeholder="Type here your email">
						</div>
						<div class="form-group">
							<label for="input-username">Username:</label>
							<input type="text" id="input-username" name="username" class="form-control {{#if usernameExists}}is-invalid{{/if}}" placeholder="Choose your username" required>
							{{#if usernameExists}}
								<div class="invalid-feedback">Username already in use!</div>
							{{/if}}
						</div>
						<div class="form-group">
							<label for="input-password">Password:</label>
							<div class="input-group">
								<input type="password" id="input-password" name="password" class="form-control" placeholder="Type in your password" required>
								<div class="input-group-append">
									<button type="button" class="input-group-text password-toggle" data-toggle="input-password" icon-toggle="password-eye">
										<i id="password-eye" class="fas fa-eye"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="confirm-password">Confirm password:</label>
							<div class="input-group" id="confirm-input-group">
								<input type="password" id="confirm-password" placeholder="Confirm your password" class="form-control" required>
								<div class="input-group-append">
									<button type="button" class="input-group-text password-toggle" data-toggle="confirm-password" icon-toggle="confirm-eye">
										<i id="confirm-eye" class="fas fa-eye"></i>
									</button>
								</div>
							</div>
							<div class="invalid-feedback">Passwords don't match!</div>
						</div>
						<div class="form-group form-check">
							<input type="checkbox" id="welcome-checkbox" name="welcomeEmail" class="form-check-input" checked>
							<label class="form-check-label" for="welcome-checkbox">Send me a welcome email.</label>
						</div>
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</form>
				</div>
				<div class="card-footer">
					<span class="text-muted">
						This application will not store your email address in any database nor share it with anyone else.<br>
						Your email address is used just to send you a welcome email, if you choose to do so.
					</span>
				</div>
			</div>
		</div>

		<script src="js/signup.js"></script>

		<!-- Bootstrap's required scripts. -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
