<form action="/search">
	<input type="text" name="search-input" class="form-control {{#if large}}form-control-lg{{/if}}" placeholder="Your recipe is..." required>
	<button type="submit" class="btn btn-primary">Search</button>
</form>
