html {
	height: 100%;
}

body {
	background: 
		linear-gradient(
			rgba(213, 213, 213, 0.45),
			rgba(213, 213, 213, 0.45)
		),
		url("../img/background.jpg");
	background-size: cover;
	min-height: 100%;
}

/*  */

#invitation-p {
	font-size: 1.7em;
	font-family: "Muli", sans-serif;
	font-weight: 900;
	color: #141414;
}

/*  */

.container {
	background: 
		radial-gradient(
			rgba(222, 222, 222, 0.98),
			rgba(230, 230, 230, 0.90)
		),
		url("../img/background.jpg");
	background-size: cover;
}

.row {
	padding: 3.5vh 0;
}
