html {
	height: 100%;
}

body {
	background: 
		linear-gradient(
			rgba(213, 213, 213, 0.45),
			rgba(213, 213, 213, 0.45)
		),
		url("../img/background.jpg") fixed;
	background-size: cover;
	min-height: 100%;
}

/*  */

.container {
	background: #c0c0c0;;
}

.card {
	margin: 15px 7px;
}

.card-header {
	padding: 7px 15px;
}
.card-body {
	padding: 7px;
}
.card-footer {
	padding: 5px 15px;
}

.card-header h5 {
	font-weight: bold;
	margin: 0;
}

.card-footer .badge {
	font-size: 0.9em;
}

/*  */

.text-message {
	text-align: center;
}
